<footer class="site-footer">

    <!--footer row for content col-row-->
    <div class="footer-content">
        <!--footer section-nav-->
        <div class="footer-nav">
            <h3>Section</h3>
            <ul class="vertical / menu ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Investment</a></li>
                <li><a href="#">Our Structure</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <!--End footer section-nav-->


        <div class="footer-contact-item">
            <h3>Our Offices</h3>
            <ul class="vertical / menu / head-office">
                <li><a href=""><h4>Luxembourg</h4></a></li>
                <li><a href=""><h5>Head Office</h5></a></li>
                <li><a href="#">127 Rue de Mühlenbach L.2168 Luxembourg</a></li>
                <li><a href="#">info@heritageproperties.lu</a></li>
                <li><a href="#">CALL US: +352 (0) 2678 2626</a></li>
            </ul>
        </div>

        <div class="footer-contact-item">
            <ul class="vertical / menu">
                <li><a href=""><h4>Paris</h4></a></li>
                <li><a href="#">127 Rue de Mühlenbach L.2168 Paris</a></li>
                <li><a href="#">info@heritageproperties.lu</a></li>
                <li><a href="#">CALL US: +352 (0) 2678 2626</a></li>
            </ul>
        </div>

        <div class="footer-contact-item">
            <ul class="vertical / menu">
                <li><a href=""><h4>Dusseldorf</h4></a></li>
                <li><a href="#">127 Rue de Mühlenbach L.2168 Dusseldorf</a></li>
                <li><a href="#">info@heritageproperties.lu</a></li>
                <li><a href="#">CALL US: +352 (0) 2678 2626</a></li>
            </ul>
        </div>

    </div>

</footer>



<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>