<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial, scale=1">
    <title>Heritage properties</title>
    <link rel="stylesheet" href="style/main.min.css">

</head>
<body>

<section class="wrapper">

    <!--site header section-->
    <header class="site-header">
        <!--header top section - logo/header contacts/nav-->
        <section class="top-bar">

            <div class="top-bar-left">
                <div class="logo">
                    <img src="" alt="">
                </div>
            </div>

            <div class="top-bar-right">
                <div class="site-header-contacts">
                    <p>127 Rue de Mühlenbach L.2168 Luxembourg</p>

                    <p>info@heritageproperties.lu</p>

                    <p>Call us: +352 (0) 2678 2626</p>
                </div>

                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Investment</a></li>
                    <li><a href="#">Our structure</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </section>

        <!--Hero Text header-->
        <div class="site-header-title">
            <p class="title-top">Real Estate</p>

            <p class="title-bot">Venture Capital</p>
            <img src="" alt="">
        </div>

    </header>