<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial, scale=1">
    <title>Heritage properties</title>
    <link rel="stylesheet" href="style/main.min.css">

</head>
<body>

<section class="wrapper">

    <!--site header section-->
    <header class="site-header">

        <!-- Start Top Bar -->
        <div class="top-nav">
            <div class="title-bar" data-responsive-toggle="header-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle>
                    <div class="title-bar-title"><span class="toggle-btn">Section</span></div>
                </button>

            </div>

            <div class="top-bar" id="header-menu">

                <!--Top main nav-->
                <div class="menu-centered">
                    <ul class="vertical / menu / medium-horizontal / menu-centered / header-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Investment</a></li>
                        <li><a href="#">Our Structure</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <!--End Top main nav-->

                <!--Top contact-->
                <div class="menu-centered">
                    <ul class="vertical / menu / medium-horizontal / top-contacts">
                        <hr/>
                        <li>
                            <a href="//www.google.ru/maps/place/127+Rue+de+M%C3%BChlenbach,+2168+Luxembourg/@49.6282436,6.1220423,17z/data=!3m1!4b1!4m5!3m4!1s0x47954edf1afa4aef:0x8b2f65d8f83c0f26!8m2!3d49.6282436!4d6.124231"
                               target="_blank">127 Rue de Mühlenbach, 2168 Luxembourg</a></li>
                        <li><a href="mailto:info@heritageproperties.lu">info@heritageproperties.lu</a></li>
                        <li><a href="tel:+352026782626"><span>CALL US:</span> +352 (0) 2678 2626</a></li>
                    </ul>
                </div>
                <!--End Top contact-->

            </div>

        </div>
        <!-- End Top Bar -->

        <!-- Start Orbit -->
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>

            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="./img/assets/header_slider_1.jpg" alt="Space1">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="./img/assets/header_slider_2.jpg" alt="Space2">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="./img/assets/header_slider_1.jpg" alt="Space3">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="./img/assets/header_slider_2.jpg" alt="Space4">
                </li>
            </ul>

            <!--Start hero title-->
            <div class="header-title">
                <div class="header-title-container">
                    <img src='img/assets/logo-w.png' alt="vintage decore element">
                </div>
            </div>
            <!--End hero title-->

        </div>
        <!-- End Orbit -->

        <!--Hero orbital slider / centered text-->


    </header>