<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial, scale=1">
    <title>Heritage properties</title>
    <link rel="stylesheet" href="style/main.min.css">
    <link rel="stylesheet" href="fonts/foundation-icons/foundation-icons.css">
</head>
<body>

<!--site header section-->
<header class="site-header">

    <!-- Start Top Bar -->
    <div class="top-nav / top-nav-index">
        <div class="title-bar" data-responsive-toggle="header-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle>
                <div class="title-bar-title"><span class="toggle-btn">Sections</span></div>
            </button>

        </div>

        <div class="top-bar / top-bar-index / sticky" id="header-menu" >

            <!--Top main nav-->
            <div class="menu-centered">
                <ul class="vertical / menu / medium-horizontal / menu-centered / header-nav / header-nav-index">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="investment.html">Investment</a></li>
                    <li><a href="structure.html">Our Structure</a></li>
                    <li><a href="investors.html">Investors</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </div>
            <!--End Top main nav-->

        </div>

    </div>
    <!-- End Top Bar -->

    <!--Hero for small screen-->
    <div class="hero-for-small / show-for-small-only">
        <!--Start hero title-->
        <div class="header-title">
            <div class="header-title-container">
                <img src='img/assets/logo-w.png' alt="vintage decore element">
            </div>
        </div>
        <!--End hero title-->
    </div>
    <!--End hero for small-->

    <!-- Start Orbit -->
    <div class="orbit / show-for-medium" role="region" aria-label="Favorite Space Pictures" data-orbit>

        <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <img class="orbit-image" src="./img/assets/header_slider_1.jpg" alt="Space1">
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" src="./img/assets/header_slider_2.jpg" alt="Space2">
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" src="./img/assets/header_slider_1.jpg" alt="Space3">
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" src="./img/assets/header_slider_2.jpg" alt="Space4">
            </li>
        </ul>

        <!--Start hero title-->
        <div class="header-title">
            <div class="header-title-container">
                <img src='img/assets/logo-w.png' alt="vintage decore element">
            </div>
        </div>
        <!--End hero title-->

    </div>
    <!-- End Orbit -->

</header>