<!--main site section-->
<main class="site-main">
    <!--Article block-->
    <div class="row / info-block">
        <article>
            <hgroup class="article-header">
                <h1>Who is Heritage Properties Fund</h1>
                <h4>Sed arcu. Cras consequat.</h4>
            </hgroup>
            <dl>
                <dd>
                    Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
                    diam.
                </dd>
            </dl>

            <dl>
                <dd>
                    Sed arcu. Cras consequat.
                </dd>
            </dl>

            <dl>
                <dd>
                    Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu
                    erat.
                    Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
                </dd>
            </dl>

            <dl>
                <dd>
                    Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem
                    tristique
                    cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                </dd>
            </dl>

            <dl>
                <dd>
                    Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum
                    vulputate,
                    nunc.
                </dd>
            </dl>

        </article>
    </div>
</main>