#wrapper {
  @include container();
}

#site-header {
  position: absolute;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 .5em rgba(0,0,0,.3);
}

.l-top-panel {
  @include container();
  padding: 0 .75em;
}

.l-footer,
.l-main {
  @include container();
  padding: 2.5em .75em;
}

#site-main {
  background-image: url("../img/assets/info-bg-1.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.l-hero {
  @include container(auto);
  position: relative;
  height: 100%;
}