body {
  font-size: $global-font-size;
  font-family: $global-font-family;
  line-height: $global-line-height;
  background-color: $body-background;
  font-smooth: $font-smooth;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color, 15%);
    text-decoration: underline;
  }
}

// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// Paragraphs
p {
  line-height: $paragraph-lineheight;
  margin-bottom: $paragraph-margin-bottom;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  color: $header-color;
  line-height: $header-lineheight;
}


hgroup {
  margin: 1.5em 0;
}