body {
  font-size: $global-font-size;
  font-family: $global-font-family;
  line-height: $global-line-height;
  background-color: $body-background;
  font-smooth: $font-smooth;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color,15%);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}