@import "mixin";

//Global
$global-font-family: 'PT Serif', serif;
$global-font-size: 110%;
$global-line-height: 1.7;
$font-smooth: always;

//Colors
$brand-palette: (
  primary: #ae9f6f,
  secondary: #750900,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840
);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #4A4A4A;
$dark-black: #353535;
$white: #fefefe;

$body-background: $white;
$body-font-color: $black;


@include add-brand-colors;

// Media q breakpoints

$b-small: 0;
$b-medium: 640px;
$b-large: 1024px;
$b-xlarge: 1200px;
$b-xxlarge: 1440px;

$b-small-only: 0 639px;
$b-medium-only: 640px 1023px;
$b-large-only: 1024px 1199px;
$b-xlarge-only: 1200px 1440px;

//Typography

$paragraph-lineheight: 1.7;
$paragraph-margin-bottom: 1.5em;

$header-font-family: $global-font-family;
$header-font-weight: bold;
$header-color: $body-font-color;
$header-lineheight: 1.4;