//content block
.content-block {
  @include container();
  position: relative;
  overflow: hidden;
}

@include susy-breakpoint($b-small, 12) {
  //content-block article
  .content-block {
    &__bgimg {
      display: none;
    }
  }
  .content-block__article {
    padding: 2em 1em;
  }

  //main content bg contacts page
  .contact-block {
    background-image: none;
  }
}

@include susy-breakpoint($b-medium, 12) {

  .content-block__article {
    padding: 3em 3em;
  }

  //main content bg contacts page
  .contact-block {
    background-image: url("../img/assets/contacts_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@include susy-breakpoint($b-large, 12) {

  //content-block article
  .content-block {
    text-align: justify;
    &__article {
      padding: 5em 1em;
    }
    &__bgimg {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
    }
  }
}