//top header navigation section
.top-panel {
  padding: .75em;
  &__black {
    background-color: $dark-black;
  }
  &__s-logo {
    display: none;
    position: relative;
  }
  &__nav {
    display: none;
  }
}

//hamburger menu btn
.ham-btn {
  &:active,
  &:focus {
    outline: none;
  }
}

@include susy-breakpoint($b-medium, 12) {
  .top-panel {
    @include container($container-width);
    &__s-logo {
      display: block;
      @include span(3);
      max-width: 200px;
    }
    &__nav {
      @include span(9 last);
      display: block;
      text-align: right;
    }
    &__ham-btn {
      display: none;
    }
  }
}