doctype html
html
	head
		title Heritage Real Estate Fund
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic")
		link(rel="stylesheet" href="style/main.min.css")
		link(rel="stylesheet" href="fonts/foundation-icons/foundation-icons.css")
	body


		//- include header-index / top nav - slider
		include ./partials/header

		include ./partials/main-contacts

		//- include site-footer / footer nav - address block - terms
		include ./partials/footer

script(src="js/main.min.js")
//script(src="js/foundation.min.js")
//script $(document).foundation();