doctype html
html
	head
		title Heritage Real Estate Fund
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial, scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic")
		link(rel="stylesheet" href="style/main.min.css")
		link(rel="stylesheet" href="fonts/foundation-icons/foundation-icons.css")
	body
		.wrap
			//Site header
			header#site-header
				.header-top-bar

					//header logo
					.header-top-bar__logo
						.text-logo
							img.text-logo__img(src="img/assets/logo-text.svg" alt="text logo")

					//header navigation
					nav.header-top-bar__nav
						// horisontal menu
						ul.hor-nav
							each val in ['Home', 'Investment', 'Structure', 'Investors', 'Contacts']
								li.hor-nav__item: a.hor-nav__anchor(href= val + ".html")= val

				section.header-hero
					.header-hero__logo
						img(src="img/assets/logo-w.png")
					.header-hero__slider
						img(src="img/assets/header_slider_1.jpg")
				//End site header

				//Site main content
				main#site-main
					//content-block
					section.content-row
						//article side
						article.content-block__article.article-side
						hgroup.article-side__hgroup
							h1.hgroup-h1 Who is Heritage <br/> Properties Fund
						.article-side__content
							ul.article-content__list
								li Founded in 2004, Heritage Properties Fund is a leading European investor that targets small and medium sized real estate co-investment opportunities.
								li Headquartered in Luxembourg, with offices in Paris, Dusseldorf and Zurich, Heritage Properties Fund has a team of 10 focused on generating superior risk adjusted returns.
								li Drawing on over 10 years experience in property development between us, we have a proven track record of finding seemingly unattractive propositions, planning effective and marketable solutions and executing those plans. The result is previously under, performing assets being transformed into highly profitable ventures where both tenants and investors benefit.
								li Heritage Properties Fund co-invests in joint ventures with proven local operating partners. The firm has an established network of more than 30 existing joint venture partners and has transacted across the Switzerland and northern and western Europe in over 90 individual investments.
								li Heritage Properties Fund currently has investments in European real estate valued in excess of €1.5 billion.
								li Heritage Properties Fund is made up of the following companies, and an extensive network of joint ventures with leading national and international development companies.

				//End site main

			footer#site-footer
				section.footer-row
					//Footer nav
					nav.footer-row__nav
						ul.vert-nav
							each val in ['Home', 'Investment', 'Structure', 'Investors', 'Contacts']
								li.hor-nav__item: a.hor-nav__anchor(href= val + ".html")= val
					//Footer office adresses
					.footer-row__office-address
						hgroup.office-adress__hgroup
							h3 Our Offices
						.office-adress__item
							ul
								li: h4 Luxenburg
								li: a(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
								li: a(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
								li: a(href="tel:+352026782626"): <span class="accent">CALL US:</span>+352 (0) 2678 2626
						.office-adress__item
							ul
								li: h4 Paris
								li: a(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
								li: a(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
								li: a(href="tel:+352026782626"): <span class="accent">CALL US:</span>+352 (0) 2678 2626
						.office-adress__item
							ul
								li: h4 Dusseldorf
								li: a(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
								li: a(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
								li: a(href="tel:+352026782626"): <span class="accent">CALL US:</span>+352 (0) 2678 2626

				section.footer-row
					//Footer Terms
					.footer-row__terms
						h5#terms__content.terms__header TERMS & CONDITIONS
						.terms__content.hide
							p.
								This document or websitend liusxuirsysrueaeldesatantedasaspeptsro ( “Heritage Properties Fund” ) and their respective business activities. Please note that Directors and employees of projects) with Heritage Properties Fund in, Luxembourg, Germany, France and Heritage Properties may also work for Heritage Properties. With an is not directed at, or intended for, retail clients. It is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to local law or regulation.
							p.
								Any material contained in this document or website has been prepared for informational purposes only without regard to any particular user's investment objectives, financial situation, or means, and Heritage Properties is not soliciting any action based upon it. This material is not to be construed as a recommendation; or an offer to buy or sell; or the solicitation of an offer to buy or sell any security, financial product, or instrument. Although this material is based upon information that Heritage Properties considers reliable and endeavors to keep current, Heritage Properties has not verified this information and does not represent that this material is accurate, current, or complete and it should not be relied upon as such.
							p.
								The fact that we have made the data and services provided on this document or website available to you constitutes neither a recommendation that you should enter into a particular transaction nor a representation that any product described on this document or website is suitable or appropriate for you. Many of the products described on this document or website involve significant risks, and you should not enter into any transactions unless you have fully understood all such risks and has independently determined that such transactions are appropriate for you.
							p.
								Home News About Heritage Properties Countries About us We shall have no liability, contingent or otherwise, to you or to third parties, or any responsibility whatsoever, for the failure of any connection or communication service to provide or maintain your access to this service, or for any interruption or disruption of such access or any erroneous communication between us and you, regardless of whether the connection or communication service is provided by us or a third party service provider. We shall have no liability, contingent or otherwise, to you or to third parties, for the correctness, quality, accuracy, timeliness, reliability, performance, continued availability, completeness or delays, omissions, or interruptions in the delivery of the data and services available on this website or for any other aspect of the performance of this service or for any failure or delay in the execution of any transactions through this service. We make no warranty whatsoever to you, express or implied, regarding the security of the site.

script(src="js/main.min.js")
script(src="js/foundation.js")
script $(document).foundation();