/***********************/
/***** SITE HEADER *****/
/***********************/

//Top bar

.top-bar {
  display: block;
  position: absolute;
  z-index: 12;

  width: 100%;
  background-color: rgba(0,0,0,.75);
}

.top-bar ul {
  background-color: inherit;
}

.toggle-btn {
  padding-left: 30px;
}

//Top main nav
.header-nav {
  padding: .6rem;
  vertical-align: middle;
}

.header-nav li a {
  width: 100%;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
}

.header-nav li a:hover,
.header-nav li a:focus,
.header-nav li a:active {
  text-transform: uppercase;
  text-decoration: underline;
  color: $primary-color;
}

//Orbital
.orbit {
  position: relative
}

.orbit-container {
  max-height: 1000px;
  height: auto !important;
  overflow: hidden;
}

//Hero for small
.hero-for-small {
  position: relative;
  width: 100%;
  height: 95vh;
  background-image: url("../img/assets/header_mob.jpg");
  background-position: center;
  background-size: cover;
}

//Hero title

.header-title {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 11;
  padding: 1em 0;
  //background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5) 80% , rgba(255,255,255,0));
  color: $white;
}

.header-title h1 {
  text-transform: uppercase;
}

.header-title img {
  width: 80vw;
  max-width: 500px;
}


/***********************/
/***MAIN SITE SECTION***/
/***********************/

//Article block
.site-main {
  padding: 1em;
}

article {
  padding: 1.5em 0;
}

.info-block {
  padding: 2em 0;
}

article p {
  margin: 1em 0;
}

.article-header {
  text-align: left;
}

.article-header h4{
  color: $header-small-font-color;
}

/***********************/
/*********FOOTER********/
/***********************/

//Contacts row
.site-footer {
  @include grid-row();
  color: $white;
  background-color: $black;
  padding: 3.5rem 1rem;
  text-align: center;
}

.site-footer a {
  color: $white;
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
  text-decoration: underline;
}

.footer-contacts {
  @include grid-row();
}

.footer-contact-column ul>li:first-child {
  font-family: $body-font-family-bold;
  color: $primary-color;
}

//Terms and Conditions row
.footer-terms {
  @include grid-row();
  font-size: .6rem;
  padding-top: 3rem;
}

.footer-terms h6 {
  text-decoration: underline;
}