/**********************/
/***** SITE HEADER*****/
/**********************/


//Top bar main
.top-bar {
  z-index: 12;
  min-width: 100%;
  background-color: $white;
  box-shadow: 1px 1px 2px rgba(0,0,0,.1);
  position: relative;
}

.top-bar ul {
  background-color: inherit;
}

.toggle-btn {
  padding-left: 30px;
}

.logo-text {
  @include grid-col(2);
  display: block;
  @include grid-col-pos(2);
  @include vertical-center;
}

//Top main nav
.header-nav {
  padding: .6rem;
  vertical-align: middle;
}

.header-nav li a {
  width: 100%;
  font-size: .7em;
  color: $black;
  text-transform: uppercase;
}

.header-nav li a:hover,
.header-nav li a:focus,
.header-nav li a:active {
  text-transform: uppercase;
  text-decoration: underline;
  color: $dark-black;
}

//Orbital
.orbit {
  position: relative
}

.orbit-container {
  max-height: 1000px;
  height: auto !important;
  overflow: hidden;
}

/***************/
/*Top bar index*/
/***************/

.top-bar-index {
  display: block;
  position: absolute;
  z-index: 12;

  min-width: 100%;
  background-color: rgba(0,0,0,.75);
}

.header-nav-index li a {
  color: $white;
}

.header-nav-index li a:hover,
.header-nav-index li a:focus,
.header-nav-index li a:active {
  color: $primary-color;
}

//Hero for small
.hero-for-small {
  position: relative;
  width: 100%;
  height: 95vh;
  background-image: url("../img/assets/header_mob.jpg");
  background-position: center;
  background-size: cover;
}

//Hero title

.header-title {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 11;
  padding: 1em 0;
  //background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5) 80% , rgba(255,255,255,0));
  color: $white;
}

.header-title h1 {
  text-transform: uppercase;
}

.header-title img {
  width: 80vw;
  max-width: 550px;
}


/***********************/
/***MAIN SITE SECTION***/
/***********************/

.site-main {
  @include grid-row();
  max-width: 100%;
}

.article-content {
  padding: 2rem 1rem;
}

.article-aboutlist li {
  margin-bottom: 1rem;
  text-align: justify;
}

.article-hgroup{
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.article {
  text-align: justify;
}

//Article block

.article-content h3 {
  color: $subheader-color;
}


/***********************/
/*********FOOTER********/
/***********************/

.site-footer {
  @include grid-col-row();
  min-width: 100%;
  padding: 5rem 0 0 0;
  background-color: $dark-black;
  color: $white;
}

.site-footer a {
  color: $white;
}
.site-footer h3 {
  padding-bottom: 2rem;
}

.site-footer .menu li a {
  padding-left: 0;
}

.footer-content {
  @include grid-row;
  padding:0 1rem;
}

.footer-nav {
  font-size: 100%;
}

.footer-nav ul li a:hover,
.footer-nav ul li a:focus,
.footer-nav ul li a:active{
  text-decoration: underline;
  color: $primary-color;
}

.footer-terms {
  padding-top: 3rem;
}

.term-header {
  margin-top: 2rem;
  text-align: center;
}

.terms-text {
  text-align: justify;
}

.terms-text {
  font-size: .75rem;
}
