@include breakpoint(large) {
  /***********************/
  /***** SITE HEADER *****/
  /***********************/

  /***********************/
  /***MAIN SITE SECTION***/
  /***********************/
  .info-block {
    @include grid-row();
  }

  article {
    @include grid-col-size(5);
    @include grid-col-pos(7);
  }

  .article-header::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    margin: 1.5em 0;
    background-color: $primary-color;
  }

  /***********************/
  /*********FOOTER********/
  /***********************/

  .footer-contact-column {
    @include grid-column(4);
  }

}