@include breakpoint(large) {
  /***********************/
  /***** SITE HEADER *****/
  /***********************/

  .header-nav li a {
    font-size: .85em;
  }

  /***********************/
  /***MAIN SITE SECTION***/
  /***********************/

  .section-bg-image {
    background-image: url("../img/assets/info-block-bg-1.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .article-content-index {
    @include grid-column(6);
    @include grid-col-pos(6);
    max-width: 550px;
    background: $white;
    padding: 4rem 3rem !important;
  }

  /***********************/
  /*********FOOTER********/
  /***********************/

  .footer-nav {
    @include grid-col(3);
  }

  //footer contacts
  .footer-contacts-container {
    @include grid-col(9);
  }

  .footer-contacts-container-header {
    @include grid-col-row();
  }

  .footer-contacts-container-content {
    @include grid-row();
  }

  //Terms and Conditions row
  .term-header {
    @include grid-row();
    text-align: center;
    margin-bottom:1rem;
  }

  .terms-text {
    @include grid-col(10);
    @include grid-col-pos(1);
  }


}