/* Small only */
@include breakpoint(small only) {
  /***********************/
  /***** SITE HEADER *****/
  /***********************/

  //Top Bar
  .title-bar {
    background-color: $secondary-color;
  }

  .top-bar {
    background-color: $secondary-color;
  }

  /***********************/
  /***MAIN SITE SECTION***/
  /***********************/

  .article-header::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    margin: 1.5em 0;
    background-color: $primary-color;
  }

  /***********************/
  /*********FOOTER********/
  /***********************/


}