//Site header
header#site-header.bg-black.box-shadow
	//site header top
	section.l-container-fixed.top-panel
		.ham-btn
			button(type="button" class="sec-menu-btn")
				.ham-btn__title.color-white
					span.fi-list  Sections

		//small logo
		.s-logo
			a(href="index.html").s-logo__anchor
				img.s-logo__img(src="../img/assets/logo-white.svg")

		//header navigation
		nav.nav
			// horisontal menu
			ul.hor-nav.top-nav.index-nav
				each val in ['Home', 'Investment', 'Structure', 'Investors', 'Contacts']
					li.hor-nav__item.top-nav__item: a.hor-nav__anchor.color-white(href= val + ".html")= val

	//site header hero
	section.header-hero
		.header-hero__logo
			img(src="img/assets/logo-w.png")
		.header-hero__slider
			ul#slides
				li.slides__item2: img(src="img/assets/header_slider_2.jpg")
				li.slides__item.showing: img(src="img/assets/header_slider_2.jpg")
				li.slides__item: img(src="img/assets/header_slider_1.jpg")
				li.slides__item: img(src="img/assets/header_slider_2.jpg")
				li.slides__item: img(src="img/assets/header_slider_1.jpg")
		.header-hero__slider-mob
			img(src="img/assets/header_mob.jpg")
	//End site header