//Site header
header#site-header
	.site-header-top
		.site-header-top__ham-btn
			button(type="button" class="sec-menu-btn")
				.ham-btn__title
					span.fi-list  Sections

		//small logo
		.site-header-top__s-logo
			a(href="index.html")
				img.s-logo__img(src="../img/assets/logo-color.svg")


		//header navigation
		nav.site-header-top__nav
			// horisontal menu
			ul.hor-nav.top-nav
				each val in ['Home', 'Investment', 'Structure', 'Investors', 'Contacts']
					li.hor-nav__item.top-nav__item: a.hor-nav__anchor(href= val + ".html")= val
