main.investors-bg
	.container
		//card with image and text block
		.card.clearfix
			.card-img.card-small
				img(src="//fillmurray.com/g/300/300" alt="investors")
			.card-content.card-large
				h2.card-content__header Differentiation
				p.card-content__text.
					Heritage Properties Fund seeks to generate outsized absolute returns for its investors through its differentiated investment strategy.

