main#site-main
	//contacts main section
	.content-block.contact-block
		section.adress-block
			img.adress-block__map(src="../img/assets/map.jpg" alt="map")
			.office-adress__block
				ul.office-adress__item.office-adress__item__black
					li: h2 Luxenburg
					li: a(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
					li: a(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
					li: a(href="tel:+352026782626"): <span class="accent">CALL US:</span>+352 (0) 2678 2626

		section.adress-block
			img.adress-block__map(src="../img/assets/map.jpg" alt="map")
			.office-adress__block
				ul.office-adress__item.office-adress__item__black
					li: h2 Paris
					li: a(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
					li: a(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
					li: a(href="tel:+352026782626"): <span class="accent">CALL US:</span>+352 (0) 2678 2626

		section.adress-block
			img.adress-block__map(src="../img/assets/map.jpg" alt="map")
			.office-adress__block
				ul.office-adress__item.office-adress__item__black
					li: h2 Dusseldorf
					li: a(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
					li: a(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
					li: a(href="tel:+352026782626"): <span class="accent">CALL US:</span>+352 (0) 2678 2626