#site-header {
  padding-left: 1em;
  padding-right: 1em;
  z-index: 999;
}

#site-main {
  padding-left: 1em;
  padding-right: 1em;
}

#site-footer {
  padding-left: 1em;
  padding-right: 1em;
}

.l-container-fixed {
  @include  container($container-width);
}
